body {
  font-family: 'Arial', sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.item {
  margin-bottom: 20px;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.item:hover {
  background-color: #f9f9f9;
}

.item.selected {
  background-color: #e0f7fa;
}

label {
  display: block;
}

input[type="radio"] {
  display: none;
}

.price {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #4caf50;
}

#purchase-section {
  margin-top: 20px;
}

hr {
  border: 1px solid #ddd;
}

h2 {
  color: #333;
}

input[type="text"] {
  padding: 8px;
  width: 200px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.notification {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    width: 300px;
}

.success {
    background-color: #4caf50;
}

.error {
    background-color: #f44336;
}
